apiVersion: apps/v1
kind: Deployment
metadata:
  name: supermario
  namespace: default
  labels:
    app: supermario
spec:
  replicas: 1
  selector:
    matchLabels:
      app: supermario
  template:
    metadata:
      labels:
        app: supermario
    spec:
      containers:
        - name: supermario
          image: whalewatch.azurecr.io/supermario:v1
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: supermario
  namespace: default
  labels:
    app: supermario
spec:
  type: LoadBalancer
  selector:
    app: supermario
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080